.container {
  margin-top: 5vh;
  text-align: center;
}

.success-icon {
  color: #4CAF50;
  font-size: 25px;
  size: 150px;
  transition: color 0.3s ease;
}

.success-icon:hover {
  color: #45a049;
}




