<div class="container">
  <div class="heading">Signup</div>


  <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form password-input-container">

    <!----------------------------------FirstName Input------------------------------------->
    <div class="input-container">
      <input formControlName="firstName" required class="input my-1 icon-input" type="text" placeholder="First Name"
        maxlength="20">
      <i *ngIf="registerForm.controls['firstName'].value" (click)="clearFirstName()" class='Name-clear bx bx-x'></i>
    </div>

    <!-- firstName Criteria Validation Messages -->
    <small *ngIf="registerForm.controls['firstName'].dirty && registerForm.hasError('required', 'firstName')"
      class="text-danger required-input">
      <i class='bx bx-error-circle'></i> First Name is required
    </small>

    <small *ngIf="registerForm.controls['firstName'].dirty && registerForm.controls['firstName'].hasError('minlength')"
      class="text-danger required-input">
      <i class='bx bx-error-circle'></i> Last Name should be at least {{
      registerForm.controls['firstName'].getError('minlength').requiredLength }} characters.
    </small>
    <!----- /firstName Criteria ----->





    <!----------------------------------LastName Input------------------------------------->
    <div class="input-container">
      <input formControlName="lastName" required class="input my-1 icon-input" type="text" placeholder="Last Name"
        maxlength="20">
      <i *ngIf="registerForm.controls['lastName'].value" (click)="clearLastName()" class='Name-clear bx bx-x'></i>
    </div>

    <!-- lastName Criteria Validation Messages -->
    <small *ngIf="registerForm.controls['lastName'].dirty && registerForm.hasError('required', 'lastName')"
      class="text-danger required-input">
      <i class='bx bx-error-circle'></i> Last Name is required
    </small>

    <small *ngIf="registerForm.controls['lastName'].dirty && registerForm.controls['lastName'].hasError('minlength')"
      class="text-danger required-input">
      <i class='bx bx-error-circle'></i> Last Name should be at least {{
      registerForm.controls['lastName'].getError('minlength').requiredLength }} characters.
    </small>
    <!----- /lastName Criteria ----->



    
    <!---------------------------------- Gender Input ------------------------------------->

    <div class="mb-3">
      <label class="form-label d-block mb-2">Gender:</label>
    
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="Male"
          name="gender"
          formControlName="gender"
          [value]="Gender.Male"
        />
        <label class="form-check-label" for="genderMale">Male</label>
      </div>
    
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="Female"
          name="gender"
          formControlName="gender"
          [value]="Gender.Female"
        />
        <label class="form-check-label" for="genderFemale">Female</label>
      </div>
    
      <div class="form-check form-check-inline">
        <input
          type="radio"
          class="form-check-input"
          id="Unspecified"
          name="gender"
          formControlName="gender"
          [value]="Gender.Unspecified"
        />
        <label class="form-check-label" for="genderUnspecified">Unspecified</label>
      </div>
    
      <small
        *ngIf="registerForm.get('gender')?.invalid && (registerForm.get('gender')?.dirty || registerForm.get('gender')?.touched)"
        class="text-danger d-block mt-1"
      >
        <i class="bx bx-error-circle"></i> Gender is required.
      </small>
    </div>
    


    <!----------------------------------Email Input ------------------------------------->

    <div class="input-container my-3">
      <input formControlName="email" required [class.input]="!emailExists" [class.my-1]="!emailExists"
        [class.icon-input]="!emailExists" [class.inputError]="emailExists" type="email" placeholder="Email"
        name="email">

      <!-- Display loading indicator while checking for existing email -->


      <div *ngIf="registerForm.get('email').pending" class="loading-indicator">
        <i class="pendding bx bx-loader bx-spin"></i>
      </div>

      <i *ngIf="registerForm.controls['email'].value && !registerForm.get('email').pending" (click)="emailClear()"
        class="email-clear bx bx-x"></i>
    </div>

    <!-- Email Criteria Validation Messages -->
    <small *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required', 'email')"
      class="text-danger required-input">
      <i class='bx bx-error-circle'></i> Email is required
    </small>

    <small *ngIf="registerForm.get('email').hasError('pattern') && registerForm.get('email').touched"
      class="text-danger required-input">
      <i class='bx bx-error-circle'></i> The email you entered is invalid.
    </small>

    <small *ngIf="registerForm.get('email').hasError('emailExists')" class="text-danger required-input">
      <i class='bx bx-error-circle'></i> Email is already in use.
    </small>
    <!----- /Email Criteria ----->


    <!----------------------------------Password Input ------------------------------------->

    <div class="password-input input-container">
      <input formControlName="password" required class="my-2 input icon-input"
        [type]="showPassword ? 'text' : 'password'" autocomplete="current-password" name="password" id="password"
        placeholder="Password">
      <i *ngIf="registerForm.controls['password'].value" class="password-toggle"
        [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="togglePassword()" id="togglePassword"></i>
    </div>

    <!-- Password Criteria Validation Messages -->
    <div>
      <small *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required', 'password')"
        class="text-danger required-input">
        <i class='bx bx-error-circle'></i> Password is required
      </small>

      <small *ngIf="registerForm.get('password').hasError('pattern') && registerForm.get('password').value"
        class="text-danger required-input">
        <i class='bx bx-error-circle'></i> Password must meet the following criteria:
        <ul>
          <li [ngClass]="{ 'text-success': passwordMeetsCriteria('length') }" style="font-weight: bold;">8 or more
            characters</li>
          <li [ngClass]="{ 'text-success': passwordMeetsCriteria('uppercase') }" style="font-weight: bold;">At least one
            uppercase letter</li>
          <li [ngClass]="{ 'text-success': passwordMeetsCriteria('lowercase') }" style="font-weight: bold;">At least one
            lowercase letter</li>
          <li [ngClass]="{ 'text-success': passwordMeetsCriteria('number') }" style="font-weight: bold;">At least one
            number</li>
          <li [ngClass]="{ 'text-success': passwordMeetsCriteria('special') }" style="font-weight: bold;">At least one
            special character</li>
        </ul>
      </small>
    </div>
    <!----- /Password Criteria ----->

    <button class="login-button" type="submit">Signup</button>

  </form>



  <!---------------------------------- Social Account Buttons  ------------------------------------->

  <div class="social-account-container">
    <span class="title">Or Sign in with</span>
    <div class="social-accounts">
      <button class="social-button google">
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 488 512">
          <path
            d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z">
            <!-- Google SVG Path -->
          </path>
        </svg></button>
      <button class="social-button apple">
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
          <path
            d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z">
            <!-- Apple SVG Path -->
          </path>
        </svg>
      </button>
      <button class="social-button twitter">
        <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
          <path
            d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z">
            <!-- Twitter SVG Path -->
          </path>
        </svg>
      </button>
    </div>
  </div>
