
<section class="best-features about-features fade-in" style="padding: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="vision-image">
          <img src="assets/images/mission.jpg" alt="Our Vision">
        </div>
      </div>

      <div class="col-md-6">
        <div class="vision-content" [@fadeInOut]="scrollOffset">
          <div class="section-heading">
            <h2>Our Focus on Wellness</h2>
          </div>
          <h4>Who We Are &amp; What We Offer?</h4>
          <p>PharmaMed is your go-to destination for a comprehensive selection
            of premium Supplements and Vitamins. We are dedicated to enhancing your well-being by providing
            carefully curated products that cater to your health needs. Whether you're on a journey to improve your
            nutrition,
            boost your immune system, or address specific health goals, PharmaMed offers a diverse range of supplements
            to support
            your path to wellness.<br><br>Explore our curated categories, including Nutritional Supplements, Immune
            Boosters, and Health
            Essentials, designed to empower you on your wellness journey.</p>
        </div>

      </div>
    </div>
  </div>
</section>






<section class="best-features about-features fade-in" style="padding: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="vision-content" [@fadeInOut]="scrollOffset">
          <div class="section-heading">
            <h2>Made to take care of you</h2>
          </div>
          <div class="left-content">
            <p>Vitamins are personal, and at PharmaMed, we get that. That’s why we design your vitamin plan with essential
              nutrients that fit your health goals, not everyone else’s. Energy fading by mid-day? We might recommend
              our Rhodiola.
              Skin and hair need some love? Collagen to the rescue.
              Prepping for a new addition? Our Prenatal (with 22 essential nutrients) it is!</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="vision-image">
          <img src="assets/images/mission2.jpg" alt="Our Vision">
        </div>
      </div>
    </div>
  </div>
</section>





<section class="best-features about-features fade-in" style="padding: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="vision-image">
          <img src="assets/images/mission3.jpg" alt="Our Vision">
        </div>
      </div>

      <div class="col-md-6">
        <div class="vision-content" [@fadeInOut]="scrollOffset">
          <div class="section-heading">
            <h2>All your vitamins in one daily pack</h2>
          </div>
          <div class="vision-text">
            <p>If you’re like us, remembering how many vitamins to take every day can bring on more than a little
              anxiety. Our all-in-one packs take the guesswork and calculations out of your vitamin routine, so you can
              get back to your day. A bonus: Our daily packs are made with plant-based film—specifically wood pulp and a
              fermented blend of
              corn, cassava root, and sugarcane—and are compostable. Good for you, good for our planet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="best-features about-features fade-in" style="padding: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="vision-content" [@fadeInOut]="scrollOffset">
          <div class="section-heading">
            <h2>Delivered right to your door</h2>
          </div>
          <div class="left-content">
            <p>No time to think about refills? Same here. Once you place a PharmaMed order, your personalized vitamin
              packs are shipped straight to your door every month—we even print your name on each one! Enjoy the
              convenience of having your essential supplements delivered right to your doorstep, eliminating the hassle
              of remembering to restock. If life gets busy and you need to pause or make changes to your deliveries, not
              to worry — we make adjustments super easy for you. You’re always in control of your wellness journey with PharmaMed
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="vision-image">
          <img src="assets/images/delivery.jpg" alt="Our Vision">
        </div>
      </div>
    </div>
  </div>
</section>





<div class="container my-5">
  <button class="learn-more">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
    <span class="button-text" routerLink="/shop" routerLinkActive="active">Discover Products</span>
  </button>
</div>
